@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

:root {
    --white: #fff;
    --orange-500: #D04B12;
    --orange-800: #e24c06;
}

:focus {
    outline: transparent;
    box-shadow: var(--orange-800);
}

body {
    margin: 0;
    padding: 0;
}