@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --white: #fff;
    --orange-500: #D04B12;
    --orange-800: #e24c06;
    --gray-500: #d9d9d9;
}

:focus {
    outline: transparent;
    box-shadow: var(--orange-800);
}

body {
    margin: 0;
    padding: 0;
}
